<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <style>
      #plan {
        text-align: center;
        color: red;
        left: 45%;
      }
    </style>
    <h1>Hello webistes is working</h1>
    <form action="">
      <h1 style="color: lightskyblue">Welcome to form</h1>
      <input type="datetime" name="45" id="" />
      <input type="radio" name="" id="plan" />
      <button type="reset">form</button>
    </form>
    <!-- <img src="./img.jpg" alt="" style="color: pink" /> -->
    <button type="reset"></button>
    <select name="plan" id="plan">
      <option value="free">Free</option>
      <option style="font-weight: 200" value="starter" selected>Starter</option>
      <option value="professional">Professional</option>
      <option value="corporate">Corporate</option>
    </select>
    <br />
    <button>submit</button>
  </body>
</html>
